@using Microsoft.IdentityModel.Tokens
@using QuickDeveloper.Controllers
@using System.Security.Claims
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@model QuickDeveloper.Models.Model_View_User
@{
    ViewData["Title"] = "ShowDataUser";
    var token = context.HttpContext.Request.Cookies["token"];
    var user = AuthenticateController.Instance.claimsPrincipal.FindFirst("id").Value;
    Model_View_User dataUser = Model_DB.Data_User(user);
}

<h1>Info</h1>

<h4>Model_View_User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="User" asp-action="EditDataUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value=@dataUser.Username />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value=@dataUser.Email/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" type="date" value=@dataUser.Birthdate.ToString("yyyy-MM-dd") />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" value=@dataUser.RoleName/>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competences" class="control-label"></label>
                <input asp-for="Competences" class="form-control" value=@dataUser.Competences/>
                <span asp-validation-for="Competences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AditionalInfo" class="control-label"></label>
                <input asp-for="AditionalInfo" class="form-control" value=@dataUser.AditionalInfo/>
                <span asp-validation-for="AditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
