h1, h2 {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

#login-form {
    width: 400px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #303457;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #006D9C;
}
