.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    width: 400px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

    button[type="submit"]:hover {
        background-color: #006D9C;
    }
