.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
    .navbar-collapse {
        flex-basis: 0% !important;
        flex-grow: 0;
        display: flex;
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: white;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        right: 0;
        left: auto;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    box-shadow: inherit 0,0,0,10px;
    background-color: #ffffff;
}

li.rounded :hover {
    border-radius: 10px;
}

nav.border {
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    box-shadow: inherit 0,0,0,10px;
}

.nav > li > a.logo:hover {
    text-decoration: none;
    background-color: white;
}

a.logo {
    font-size: 21px;
    font-weight: 400;
    font-family: 'QuickSand', sans-serif;
}

::selection {
    background-color: auto;
    color: auto;
}