@using Microsoft.IdentityModel.Tokens;
@using QuickDeveloper.Controllers;
@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@model Model_User
@{
    var token = context.HttpContext.Request.Cookies["token"];
    string roleUser = "";
    SecurityToken validatedToken = null;

    if (!string.IsNullOrEmpty(token))
    {
        TokenValidationParameters validationParameters = AuthenticateController.Instance.ValidationParameters();
        var tokenHandler = new JwtSecurityTokenHandler();
        AuthenticateController.Instance.claimsPrincipal = tokenHandler.ValidateToken(token, validationParameters, out validatedToken);
        roleUser = AuthenticateController.Instance.claimsPrincipal.FindFirst(ClaimTypes.Role).Value.ToUpper();
    }
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <link rel="stylesheet" href="~/QuickDeveloper.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 border">
            <div class="container-lg align-content-center">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index"><span style="color: #ED2218">Quick</span><span style="color: #303457">Developer</span></a>
                    </li>
                </ul>
                <div class="navbar-collapse d-sm-inline-flex justify-content-end">
                    <ul class="nav navbar-nav navbar-right rounded">
                        <li>
                            <a href="#" class="dropdown-toggle text-dark" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
                            <ul class="dropdown-menu">
                                @if (validatedToken?.ValidTo > DateTime.UtcNow)
                                {                                   
                                    if (roleUser.Equals("REGULAR"))
                                    {
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="ChatBot">QuickChat</a>
                                        </li>
                                    }
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Edit">Editar Informações</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Requisitions">Minhas Requisições</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Sair</a>
                                    </li>                                  
                                }
                                else
                                {
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="SignIn">Entrar</a>
                                    </li>

                                }                              
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - QuickDeveloper - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
