@{
    ViewData["Title"] = "Home | QuickDeveloper";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Esta é a primeira página do QuickDevelopers</p>


    <div id="like_button_container"></div>
</div>

<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="/js/like_button.js"></script>