@{
    ViewData["Title"] = "Home | QuickDeveloper";
}

<link rel="stylesheet" href="/css/index.css" asp-append-version="true" />

<section class="home main-bg" id="home">

    <div class="content">
        <h3><span style="color: #ED2218">Quick</span><span style="color: #303457">Developer</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus suscipit porro nam libero natus error consequatur sed repudiandae eos quo?</p>
        <input type="submit" class="btn" value="Começar a Usar" />
    </div>

    <div class="image">
        <img src="~/img/index/team_work_blue.svg" alt="">
    </div>

</section>
