@{
    ViewData["Title"] = "Home | QuickDeveloper";
}

<link rel="stylesheet" href="/css/index.css" asp-append-version="true" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<section class="home" id="home">

    <div class="content">
        <h3><span style="color: #ED2218">Quick</span><span style="color: #303457">Developer</span></h3>
        <p>Somos uma ferramenta simples e intuitiva voltada para o desenvolvimento de aplicações, contando com o direcionamento para o planejamento e alinhamento com os desenvolvedores.</p>
        <a role="button" class="btn" asp-controller="Register" asp-action="SignIn">Começar a Usar</a>
    </div>

    <div class="image">
        <img src="~/img/index/team_work_blue.svg" alt="">
    </div>

</section>

<section class="features" id="features">

    <div class="box-container">

        <div class="box">
            <img src="~/img/index/web_search.svg" alt="">
            <h4>Coloque sua ideia em prática!</h4>
            <p>Se cadastre em nossa plataforma e consulte a sua ideia em nosso ChatBot. <br />Depois, caso queira, solicite o trabalho à um desenvolvedor capacitado.</p>            
        </div>

        <div class="box">
            <img src="~/img/index/developer.svg" alt="">
            <h4>Desenvolva novas ideias!</h4>
            <p>Você é um dev com interesse em desenvolver novos projetos? <br />Se sim, cadastre-se em nossa plataforma como desenvolvedor e fique atento nas solicitações de trabalho em seu perfil, conforme as suas competências cadastradas.</p>            
        </div>

        <div class="box">
            <img src="~/img/index/link.svg" alt="">
            <h4>Interaja com o colaborador!</h4>
            <p>Nosso site faz a relação automática entre o solicitante e o desenvolvedor, ou seja, você terá pouquissímas etapas para iniciar o desenvolvimento com base nos requisitos de sua ideia e as competências dos desenvolvedores cadastrados.</p>            
        </div>

    </div>

</section>

<script src="/js/index.js"></script>