@{
    ViewData["Title"] = "Home | QuickDeveloper";
}

<link rel="stylesheet" href="/css/index.css" asp-append-version="true" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<section class="home" id="home">

    <div class="content">
        <h3><span style="color: #ED2218">Quick</span><span style="color: #303457">Developer</span></h3>
        <p>Somos uma ferramenta simples e intuitiva voltada para o desenvolvimento de ferramentas, contando com o direcionamento para o planejamento e alinhamento com os desenvolvedores.</p>
        <input type="submit" class="btn" value="Começar a Usar" />
    </div>

    <div class="image">
        <img src="~/img/index/team_work_blue.svg" alt="">
    </div>

</section>

<script src="/js/index.js"></script>