@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="container">
    <a style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="Index">
        <h1><span style="color: #ED2218">Quick</span><span style="color: #303457">Developer</span></h1>
    </a>
    <form id="login-form">
        <h2>Bem-vindo de volta!</h2>
        <br />
        <label for="username">Nome de usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>
</div>

<script src="/js/login.js"></script>
