@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="container">
    <form id="login-form">
        <label for="username">Nome de usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>
</div>

<script src="/js/Login.js"></script>
