@{
    ViewData["Title"] = "Terms and Conditions | QuickDeveloper";
}

<style>
    section {
        justify-content: center;
        align-items: center;        
        margin: 0;
        font-family: Arial, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
        padding-top: 70px;
    }

    h1 {
        font-family: 'QuickSand', sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .title {
        font-weight: bold;
    }
</style>

<section>
    <h1>Termos e Condições de Utilização QuickDeveloper</h1>

    <p>Estes termos e condições de uso ("Termos") regem a utilização do sistema fornecido pela QuickDeveloper, uma empresa legalmente constituída e registrada sob as leis do país de origem, doravante denominada "Empresa". Ao utilizar o Software, você, o usuário ("Usuário"), concorda em cumprir e estar vinculado a estes Termos.</p>

    <p class="title">1. Definições</p>
    <p>1.1 "Usuário" significa qualquer pessoa que utilize o Software, seja ele um Usuário Regular ou Desenvolvedor, que esteja de acordo com estes Termos.</p>
    <p>1.2 "Usuário Regular" significa um usuário do Software que deseja obter serviços de desenvolvimento de software por meio de um freelancer.</p>
    <p>1.3 "Desenvolvedor" significa um usuário do Software que é um freelancer cadastrado em nosso site e que possui habilidades e competências relevantes para o trabalho de desenvolvimento de software.</p>

    <p class="title">2. Uso do Software</p>
    <p>2.1 O Software é fornecido pela Empresa exclusivamente para fins de freelancer e não deve ser usado para qualquer outro fim.</p>
    <p>2.2 O Usuário Regular pode consultar suas ideias e enviar as informações necessárias ao Software, que irá encaminhar para o Desenvolvedor mais capacitado para o trabalho, de acordo com as informações fornecidas pelo Usuário Regular.</p>
    <p>2.3 O Desenvolvedor, por sua vez, pode responder às solicitações do Usuário Regular e oferecer seus serviços para o projeto.</p>

    <p class ="title">3. Cadastro de Usuário</p>
    <p>3.1 Para utilizar o Software, o Usuário deve se cadastrar no site da Empresa, fornecendo informações precisas e verdadeiras.</p>
    <p>3.2 A Empresa se reserva o direito de verificar a precisão das informações fornecidas pelo Usuário durante o processo de registro e de rejeitar o registro, caso as informações fornecidas sejam consideradas falsas ou enganosas.</p>
    <p>3.3 O Usuário é responsável pela confidencialidade de suas informações de login e senha, e concorda em não compartilhá-las com terceiros.</p>

    <p class="title">4. Pagamento e Contato entre Usuários</p>
    <p>4.1 O Software é responsável por encaminhar as informações do Usuário Regular para o Desenvolvedor mais capacitado para o trabalho, de acordo com as informações fornecidas pelo Usuário Regular.</p>
    <p>4.2 O pagamento pelos serviços do Desenvolvedor e o contato entre o Usuário Regular e o Desenvolvedor são feitos por espontânea vontade dos indivíduos envolvidos, e não são de responsabilidade do Software.</p>
    <p>4.3 A Empresa não se responsabiliza por quaisquer problemas que possam surgir no processo de pagamento ou de comunicação entre o Usuário Regular e o Desenvolvedor.</p>
    <p>4.4 O Usuário Regular é responsável por verificar a confiabilidade do Desenvolvedor antes de contratar seus serviços, e deve tomar todas as precauções necessárias para garantir que o projeto seja concluído de forma satisfatória.</p>
    <p>4.5 O Usuário Regular é o único responsável por qualquer pagamento ou contrato que for feito com o Desenvolvedor, e deve resolver quaisquer disputas diretamente com o Desenvolvedor, sem envolver a Empresa.</p>

    <p class="title">5. Propriedade Intelectual</p>
    <p>5.1 O Usuário garante que possui os direitos necessários para utilizar quaisquer materiais que sejam fornecidos ao Software.</p>
    <p>5.2 A Empresa não assume qualquer responsabilidade pela violação de quaisquer direitos de propriedade intelectual que possam ocorrer durante a utilização do Software.</p>

    <p class="title">6. Rescisão</p>
    <p>6.1 A Empresa reserva-se o direito de rescindir o acesso do Usuário ao Software a qualquer momento, sem aviso prévio</p>
</section>
