<style>
    .container-redirect {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        text-align: center;
    }

    .content-redirect {
        display: inline-block;
        background-color: #ccc;
        padding: 20px;
        border-radius: 5px;
    }
</style>


<div class="container-redirect">
    <div class="content-redirect">
        <p>Conta verificada com sucesso!</p>
        <p id="timer"></p>
    </div>
</div>

<script>
    let seconds = 5;
    
    function updateTime() {        
        document.getElementById('timer').innerHTML = 'Você será redirecionado em ' + seconds  + ' segundos';
        seconds--;

        if (seconds == 0) {
            window.location.href = '/Home/Index';
        }
    }

    setInterval(updateTime, 1000);
</script>