@{
    ViewData["Title"] = "ChatBot | QuickDeveloper";
}

<link rel="stylesheet" href="/css/index.css" asp-append-version="true" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<section class="home" id="home">

    <div class="content" style="height: 90%; width: 90%">
        
        <h3><span style="color: #ED2218">Quick</span><span style="color: #303457">Chat</i></span></h3>
        <div class="mb-4" style="height:60%">
            <textarea class="form-control" id="Chatbot" style="height: 100%; resize: none" readonly></textarea>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" id="MenssageTxt" placeholder="Digite uma Mensagem" required checked/>

            <input type="button" id="Send" class="btn btn-primary mb-2" value="Enviar" onclick="function SendMenssage()" style="float: right" />
        </div>
        
    </div>

</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/chatbot.js"></script>